<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spark.bitrade.repository.mapper.BtBankMemberPendingWardMapper">

    <select id="pageList" resultType="com.spark.bitrade.api.vo.MemberScoreListVo">

        SELECT
        b.*,m.username as childName
        FROM
        bt_bank_member_pending_ward b LEFT JOIN member m ON m.id=b.child_id
        WHERE
        b.member_id = #{memberId} and b.status=0
        ORDER BY
        b.create_time DESC

    </select>
</mapper>
