<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spark.bitrade.repository.mapper.EnterpriseMinerApplicationMapper">

    <resultMap id="EnterpriseMinerApplicationResultMap" type="com.spark.bitrade.repository.entity.EnterpriseMinerApplication">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="memberId" column="member_id" jdbcType="BIGINT"/>
        <result property="realName" column="real_name" jdbcType="VARCHAR"/>
        <result property="mobilePhone" column="mobile_phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="idCard" column="id_card" jdbcType="VARCHAR"/>
        <result property="idCardFront" column="id_card_front" jdbcType="VARCHAR"/>
        <result property="idCardBack" column="id_card_back" jdbcType="VARCHAR"/>
        <result property="idCardInHand" column="id_card_in_hand" jdbcType="VARCHAR"/>
        <result property="businessLicense" column="business_license" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="approverId" column="approver_id" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>