<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spark.bitrade.repository.mapper.SysUserMapper">
    <select id="getUnJoinChatRoomUser" resultType="com.spark.bitrade.repository.entity.SysUser">
        select * from sys_user where  id NOT IN ( SELECT member_id from im_chat_room_member  )
    </select>
    <select id="getUnSyncUser"  parameterType="list" resultType="com.spark.bitrade.repository.entity.SysUser">
       select * from sys_user where  id  NOT IN
        <foreach item="item" collection="list" separator="," open="(" close=")" index="">
          #{item.memberId}
       </foreach>
    </select>
</mapper>